{% if admin.isGranted('LAUNCH', object) and admin.hasRoute('launch') %}
    <a href="{{ admin.generateObjectUrl('launch', object) }}" class="btn btn-sm btn-default launch_link" title="{{ 'action_launch'|trans({}, 'SelfSeasonBundle') }}">
        <i class="fa fa-cogs"></i>
        {{ 'action_launch'|trans({}, 'SelfSeasonBundle') }}
    </a>
{% endif %}