{% if admin.isGranted('CLOSE', object) and admin.hasRoute('close') %}
    <a href="{{ admin.generateObjectUrl('close', object) }}" class="btn btn-sm btn-default close_link" title="{{ 'action_close'|trans({}, 'SelfSeasonBundle') }}">
        <i class="fa  fa-times-circle"></i>
        {{ 'action_close'|trans({}, 'SelfSeasonBundle') }}
    </a>
{% endif %}