{% extends 'SelfFrontBundle::layout.html.twig' %}

 {% block content %}
     <h1>Create your team</h1>

     {{ form_start(teamForm) }}
     {{ form_errors(teamForm) }}



     {{ form_end(teamForm) }}
 {% endblock %}