{% block navside %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Teams</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Divisions</a></li>
            <li><a href="#">Seasons</a></li>
            <li><a href="#">League</a></li>
            <li class="active"><a href="#">News <span class="sr-only">(current)</span></a></li>
        </ul>
    </div>

{% endblock %}